<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>BRF Nipfjället 5</h2>
        <p class="lead">Vi är en bostadsrättsförening som ligger på Kebnekaisevägen 18-22 i Traneberg, Stockholm.
          <br>
          <br>Org-nr: 716421-6298
          <br>Fastighetsbeteckning: Stockholm Nipfjället 5
          <br>Byggnadsår: 1939
          <br>Registreringsår: 1991
          <br>Antal lägenheter: 21</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
