---
layout: default_dynamic
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    <a href={{ "/styrelsen" | relative_url}}>Styrelsen</a><br>
    <a href="https://github.com/nipfjallet5/nipfjallet5.github.io/raw/master/node/clear/stadgar.pdf">Stadgar</a><br>
    <a href="https://github.com/nipfjallet5/nipfjallet5.github.io/raw/master/node/clear/%C3%85rsredovisning%202018%20Brf%20Nipfj%C3%A4llet%205.pdf">Senaste årsredovisningen</a><br>
    <a href={{ "/tvattstugan" | relative_url}}>Tvättstugan</a><br>

    <!--<iframe style="height: 500px; width: 500px; border: none" src="/tvatt/"></iframe>-->

  </div>

</article>
