<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  <div class="linkbox nyinflyttadlnk">
    <a class="backlink" href="{{ site.baseurl }}/#portfolio">❮</a>
    <div>Nyinflyttad</div>
    <!-- <div style="position:absolute; bottom:0; right:0; height:15px; font-size: 15px; line-height: 15px;">ladda ner PDF</div> -->
  </div>

  <embed src="https://drive.google.com/file/d/19D2g2mAEQLYJseInJyHvv6lWN0OwG8uW/preview" style="width:100%; height:calc(100% - 100px)">
  <!-- <iframe style="width:100%; height:calc(100% - 100px)" src="https://docs.google.com/presentation/d/e/2PACX-1vQIiwDNWmnO1xCyAUB2zB1nPVMREzTvO3yMdHKsaJtYbKnitrXLYWQD7tv_u8zYnjYT7yw-52wdMlRh/embed?start=false&loop=false&delayms=60000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->

</body>

</html>
